name: Publish to PyPI

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      skip_testpypi:
        description: "Skip TestPyPI publication and testing"
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read # For checkout
      id-token: write # For PEP 740 attestations
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Build
        run: uv build

      - name: Attestation
        uses: astral-sh/attest-action@f35111fb79f1e4f0150a1ee16cfd4399e3151bdb # v0.0.5

      - name: Upload Package Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: dist/

  publish-to-testpypi:
    name: Publish to TestPyPI
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ !inputs.skip_testpypi }}
    environment:
      name: TestPyPi
      url: https://test.pypi.org/p/cloud-autopkg-runner
    permissions:
      id-token: write # For PyPI's trusted publishing
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          ignore-empty-workdir: true

      - name: Download Package Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist/

      - name: Publish
        run: uv publish --index testpypi --trusted-publishing always

  install-library-from-testpypi:
    name: Test Installation from TestPyPI
    needs: [publish-to-testpypi]
    runs-on: ubuntu-latest
    if: ${{ !inputs.skip_testpypi }}
    permissions: {} # No token access needed
    steps:
      - name: Setup uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          ignore-empty-workdir: true

      - name: Install
        run: uv run --with cloud-autopkg-runner --extra-index-url https://test.pypi.org/simple/ --index-strategy unsafe-best-match --no-project -- python -c "import cloud_autopkg_runner"

  publish-to-pypi:
    name: Publish to PyPI
    needs: [build, publish-to-testpypi, install-library-from-testpypi]
    if: |
      always() &&
      needs.build.result == 'success' &&
      (
        inputs.skip_testpypi == true ||
        (needs.publish-to-testpypi.result == 'success' && needs.install-library-from-testpypi.result == 'success')
      )
    runs-on: ubuntu-latest
    environment:
      name: PyPi
      url: https://pypi.org/p/cloud-autopkg-runner
    permissions:
      id-token: write # For PyPI's trusted publishing
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          ignore-empty-workdir: true

      - name: Download Package Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist/

      - name: Publish
        run: uv publish --trusted-publishing always

  install-library-from-pypi:
    name: Test Installation from PyPI
    needs: [publish-to-pypi]
    runs-on: ubuntu-latest
    permissions: {} # No token access needed
    steps:
      - name: Setup uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          ignore-empty-workdir: true

      - name: Install
        run: uv run --with cloud-autopkg-runner --no-project -- python -c "import cloud_autopkg_runner"
